<table>
<tr>
<th>filename</th><th>size</th><th>ip</th><th>referer</th><th>UA</th>
</tr>
<% @downloads.each do |dl| %>
<tr>
<td><div style="overflow:auto;"><%= link_to(dl.filename, "/" + dl.filename) %></div></td>
<td class="<%= filesize_to_style dl.size %>"><%= number_to_human_size dl.size, prefix: :si %></td>
<td><%= dl.ip %></td>
<td style="width: 30%;"><div style="overflow:auto;"><%= dl.referer.referer_string if dl.referer %></div> </td>
<td style="width: 30%;"><div style="overflow:auto;"><%= dl.user_agent.user_agent_string if dl.user_agent %></div></td>
</tr>
<% end %>
</table>
<%= paginate @downloads %>