<% content_for :title, "image preview: #{@filename}" %>
<a href="<%= @image_path %>"><img src="<%= @thumb_path %>" alt="Your image" /></a> <%= number_to_human_size @size %>
<table>
<tr>
<td>Direct link: </td>
<td><input type="text" size="100" readonly="readonly" value="<%= @image_path %>" /></td></tr><br />
<tr>
<td>Thumbnail: </td>
<td><input type="text" size="100" readonly="readonly" value="<%= @thumb_path %>" /></td></tr><br />
<tr>
<td>BBCODE: </td>
<td><input type="text" size="100" readonly="readonly" value="[url=<%= @image_path %>][img]<%= @thumb_path %>[/img][/url]" /></td></tr><br />
<tr>
<td>BBCODE (w/o preview): </td>
<td><input type="text" size="100" readonly="readonly" value="[img]<%= @image_path %>[/img]" /></td></tr><br />
<tr>
<td>HTML: </td>
<td><input type="text" size="100" readonly="readonly" value="&lt;a href='<%= @image_path %>'&gt;&lt;img src='<%= @thumb_path %>' alt='An Image' /&gt;&lt;/a&gt;" /></td></tr><br />
<tr>
<td>HTML (w/o preview): </td>
<td><input type="text" size="100" readonly="readonly" value="&lt;img src='<%= @image_path %>' alt='An Image' /&gt;" /></td></tr><br />
<tr>
<td>Textile: </td>
<td><input type="text" size="100" readonly="readonly" value="!<%= @thumb_path %>!:<%= @image_path %>" /></td></tr><br />
<tr>
<td>Textile (w/o preview): </td>
<td><input type="text" size="100" readonly="readonly" value="!<%= @image_path %>!" /></td></tr></table>